*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* Estilos para a página de login */
.center {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container h2 {
	margin-bottom: 30px;
    margin-left: 90px;
    text-transform: uppercase;
}

.forgot-password-container h2 {
	margin-bottom: 30px;
    margin-left: 40px;
}


.login-container label, .center label {
	display: block;
	position: absolute;
	margin-top: 10px;
}

.login-container input, .center input{
	margin-top: 10px;
	margin-left: 70px;
	border-radius: 5px;
}

.login-container button, .forgot-password-container button {
    margin-top: 20px;
	margin-left: 130px;
	border-radius: 5px;
    padding: 5px;
}

.login-container a {
	margin-top: 15px;
	margin-left: 90px;
	border-radius: 5px;
    color: rgb(7, 1, 34);
    font-size: 10pt;
}

/* Estilos para a página de recuperação de senha */
.forgot-password-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o menu lateral e superior */
.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para o menu lateral em dispositivos desktop */
@media screen and (min-width: 768px) {
    .menu {
        flex-direction: row;
    }

    .menu-item {
        border-right: 1px solid #ccc;
    }
}